body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    font-size: 24px;
    margin: 15px 0;
    font-weight: bold;
}

#The_Manufacturing_Process h3 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: bold;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-right: 2px solid #000000;
    background: #00897b;
    padding: 15px 20px;
    box-sizing: border-box;
}

#navbar header {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    text-shadow: #827717 -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
}

.navbar-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-list > li {
    line-height: 2.5;
}

.navbar-list > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #fce4ec;
    width: 100%;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

.navbar-list > li > a:hover,
.navbar-list > li > a:focus {
    color: #c5e1a5;
    padding-left: 15px;
}

.navbar-list > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.navbar-list > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.navbar-list > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.navbar-list > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
}

.main-section header:before {
    content: "#";
}

#Raw_Materials code {
    display: block;
    margin: 10px 0;
}

#The_Manufacturing_Process span {
    font-weight: bold;
}

#The_Manufacturing_Process span:before {
    content: "\25b6"
}

.gale_imggroup {
    float: right;
    margin: 15px 0 15px 20px;
    padding-left: 15px;
    border-left: 1px dotted silver;
}

.gale_imggroup img {
    border-radius: 10px;
    max-width: 520px;
    height: auto;
}

.gale_imggroup .caption {
    max-width: 480px;
    font-size: 13px;
    color: grey;
}

@media screen and (max-width: 420px) {
    #navbar {
        position: static;
        width: 100%;
        height: auto;

    }

    #main-doc {
        position: static;
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        padding: 10px;
    }

    .gale_imggroup {
        float: none;
        margin: 15px 0 15px 0px;
        padding-left: 0px;
    }

    .gale_imggroup img {
        max-width: 420px;
    }
}